<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CKSharingSupported</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>选择书籍封面需要访问相册。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>启用生物识别解锁需要使用 Face ID 验证。</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
